* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-app-region: drag;
}

body {
  background-color: white;
}

textarea {
  -webkit-app-region: no-drag;
}

#support {
  text-align: center;
  margin-top: 10px;
}
